.container > footer {
    width: 100%;
    background-color: var(--menu-color);
    font-family:  "Fira Sans", sans-serif;
    color: white;
}
.container > footer > .branch-card{
    width: 100%;
    display: flex;
}
.container > footer > .branch-card > .card {
    width: 25%;
    border: 0.00001px solid rgb(72, 66, 66);
    background-color: gray;
    text-align: center;
    padding: 20px;
   
}
.container > footer > .branch-card > .card > img {
     margin: 10px 0 15px 0;

}
.container > footer > .branch-card > .card > p{
    font-size: 14px;
    line-height: 25px;
    margin: 15px 0;
    color: white;
    text-align: left;
    letter-spacing: 0.5px;
}
.container > footer > .branch-card > .card > p > a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.container > footer > .branch-card > .card > p > a:hover{
    text-decoration: underline;
}
.container > footer > .contact {
    width: 100%;
}
.container > footer > .contact > .contact-data{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    padding-top: 45px;
    text-align: center;
}
.container > footer > .contact > .contact-data > .first-contact {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-bottom: 15px;
}
.container > footer > .contact > .contact-data > .first-contact > li {
    font-size: 10px;
    cursor: pointer;
    padding: 5px 12px;
}
.container > footer > .contact > .contact-data > .first-contact > li:hover{
    text-decoration: underline;
}
.container > footer > .contact > .contact-data > .first-contact:nth-child(2) > li:hover{
    text-decoration: none;
}
.container > footer > .contact > .contact-data > .achivement > p{
    margin: 10px 0;
    font-size: 10px;
    padding-top: 15px;

}
.container > footer > .contact > .contact-data > .achivement > img{
    margin: 10px 5px;
    border-radius: 5px; 
}
.container > footer > .contact > .contact-data > p{
    margin: 20px 10px;
    font-size: 11px;
}
.container > footer > .contact > .contact-data > .socail-media{
    display: flex;
    justify-content: center;
    list-style: none;
    padding-bottom: 80px;
}
.container > footer > .contact > .contact-data > .socail-media > li{
    margin: 0 5px;
}
.container > footer > .contact > .contact-data > .socail-media > li > img { 
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1px solid rgb(71, 71, 134);
}
.container > footer > .contact > .contact-data > .socail-media > li > img:hover{
    border: 1px solid white;
}